
/* ------------------------------------
  * Responsive Design
------------------------------------ */
@media (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #close-menu {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    background: var(--card);
    padding: 1rem;
    border-radius: 0 0 0 12px;
    box-shadow: var(--shadow);
    transition: right var(--transition-speed) ease-in-out;
    z-index: 999;
  }

  .menu.open {
    display: flex;
    right: 0;
  }

  #close-menu {
    display: block;
    align-self: flex-end;
    margin: 0.5rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero.stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
  }

  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 740px) {
  .edu-badge {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero.stats {
    grid-template-columns: 1fr;
  }

  .section-head h2 {
    font-size: 1.2rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  footer {
    max-width: 100%;
  }

  .foot {
    padding: 20px 1rem;
  }

  .send-email {
    display: inline-block;
    overflow-wrap: break-word;
  }
}